<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/users">Users</a></li>
                <li class="nav-item"><a href="/categories">categories</a></li>
            </ul>
        </div>
   
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <app-home></app-home>
                <app-users></app-users>
                <app-categories></app-categories>
            </div>
        </div>
    </div>
</div>
</div>